.app-root {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.button_padrao {
  background-color: #e0dd04;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 460;
  width: 40%;
}

@media (max-width: 600px) {
  .button_padrao {
    width: 100%;
    max-width: 320px;
    padding: 12px 20px;
    font-size: 14px;
    margin-top: 20px;
  }
}
